@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html {
  min-width: 300px;
  min-height: auto;
}

body {
  background-color: #efefef;
  width: 100%;
  height: 100%;
}

.header {
  width: 100%;
  padding: 20px;
  background-color: #323232;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  gap: 10px;
}

#searchBar {
  width: 60%;
  height: 30%;
  font-size: 18px;
  border-radius: 5px;
  border: 1px solid;
  padding: 10px;
}

.bookMarkLook {
  justify-items: center;
  font-size: 18px;
}

.movieContainer {
  justify-content: center;
  margin: 30px auto;
  width: 80%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: auto auto auto auto;
  align-items: center;
  justify-items: center;
  column-gap: 30px;
  row-gap: 30px;
}

.movieContent {
  background-color: #fefefe;
  border-radius: 5px;
}

.movie {
  height: auto;
  width: 250px;
}

.title {
  padding: 10px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.rating {
  padding: 10px;
  font-size: 13px;
  opacity: 0.5;
  text-align: start;
}

#modalContainer {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10;
  overflow: hidden;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.8);
}

#modalContent {
  cursor: auto;
  margin: auto;
  padding: 20px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: 20px;
  background-color: #fefefe;
  border-radius: 25px;
  width: 40%;
  max-height: calc(100vh - 200px);
  overflow-y: auto;
  overflow-x: hidden;
}

.modalInfo {
  width: 100%;
}

.photo {
  height: 400px;
  width: 100%;
  border-radius: 10px;
}

.closeBtn img {
  width: 35px;
  height: 35px;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

#posterPath {
  width: 100%;
  margin-top: 30px;
}

#posterPath img {
  width: 100%;
  object-fit: fill;
  max-width: 100%;
  height: auto;
}

#modalTitle {
  margin: 20px 0;
}

#releaseDate {
  margin: 20px 0;
}

.btnHover {
  width: 100%;
  font-size: 24px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  margin: 20px;
  height: 55px;
  text-align: center;
  border: none;
  border-radius: 50px;
  transition: all 0.4s ease-in-out;
}

.btnHover:hover {
  background-position: 100% 0;
}

.btnHover:focus {
  outline: none;
}

#bookMarkBtn {
  background-image: linear-gradient(
    to right,
    #29323c,
    #485563,
    #2b5876,
    #4e4376
  );
  box-shadow: 0 4px 15px 0 rgba(45, 54, 65, 0.75);
}

@media (max-width: 1700px) {
  .movieContainer {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media (max-width: 1400px) {
  .movieContainer {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 1150px) {
  .movieContainer {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 875px) {
  .movieContainer {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .movieContainer {
    grid-template-columns: 1fr;
  }
}
